<div id="careManagement" class="container-fluid">
 <div class="row">
  <div id="leftNav" class="col-lg-1 col-md-1 col-sm-1">
    <ul class="nav">
      <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i><br/>Encounters</a></li>
      <li><a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i><br/>Summary</a></li>
      <li><a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i><br/>Care Plan</a></li>
      <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i><br/>Calendar</a></li>
    </ul>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs">
    <!-- Placeholder - keep empty -->
  </div>

  <div class="col-lg-10 col-md-9 col-sm-9 fill">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3>John Smith</h3>
        <div>Phone: 555 555-5555</div>
        <div>Email: john.smith@gmail.com</div>
        <div>Facility: Scripps Medical Center</div>
        <div>Supplemental: Cigna</div>
        <div>Medicare ID: 123456789</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div>Age: 68 <span>Sex: M</span></div>
        <div>Number of chronic illnesses: 3</div>
        <div>Physician: Williams, Frank</div>
        <div>Consent Policy: Complete</div>
        <div>Last Visit: 3/15/2015</div>
        <i class="fa fa-edit"></i>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        Timer
        <button><i class="fa fa-plus"></i> Add Encounter</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Encounters</h3>
      </div>
    </div>
  </div>
</div>

